[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
jinja2 = "*"
mysqlclient = "==2.2.6"
django-debug-toolbar = "==4.3.0"
python-dotenv = "*"
markdown = "*"
pillow = "*" 
django-markdownx = {git = "https://github.com/vallka/django-markdownx.git", editable = true}
requests = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
