[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
jinja2 = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
python-dotenv = "*"
markdown = "*"
pillow = "*" 
django-markdownx = {git = "https://github.com/vallka/django-markdownx.git", editable = true}
requests = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
