body {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #7a7a7a;
  line-height: 1.1em;
  letter-spacing: initial;
}

.navbar-expand-lg {
  flex-flow: wrap;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: .2rem 1rem;
}

.navbar-above {
  width: 100%;
  text-transform: uppercase;
  color: #0cdf99;
  font-size: 14px;
  font-weight: 900;
  padding: 7px 3px;
  letter-spacing: 0.2px;
}

@media (min-width: 768px){
  .navbar-above {
    font-size: 20px;
  }
}

.nav-item {
  margin-right: 0;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #d73672 !important;
}


.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 6px;
  padding-left: 6px;
}
.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-collapse {
  flex-direction: column-reverse;
}

@media (min-width: 992px){
.search-box {
width: 100%;
margin-top: -50px;
height: 50px;
}
}
.search-box button {
  border: none;
  margin-left: -35px;
  background-color: transparent;
  color: #fff;
}
.search-box input {
  background-color: #333;
  color: #fff;
}
.search-box input:focus {
  background-color: #666;
  color: #fff;
}


.breadcrumb {
  padding: .5rem 1.4rem;
  margin-bottom: 0;
  list-style: none;
  background-color: #f6f6f6;
  border-radius: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.breadcrumb ol {
  padding-left: 0;
  margin-bottom: 0;
}
dl, ol, ul {
  margin-top: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li::after {
  content: "/";
  color: #7a7a7a;
  margin: .3125rem;
}

.breadcrumb li:nth-last-child(1)::after {
  content: "";
}

.breadcrumb li a {
  color: #232323;
}

.container, .container-fluid, .container-sm {
  padding-left: 0;
  padding-right: 0;
} 

footer {
    color: white;  
    background-color: #333;
    margin: 0;
    padding: 2rem 3rem;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
  
  footer img {
    margin-top: -15px;
    margin-left: -5px;
  }
  
  footer .fa {
    margin: 10px 4px 0 0;
  }
  
  h3.footer, h4.footer,
  hr.footer {
    color: white !important;
    text-align: left;
  }
  
  footer h4.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  
  footer .copy {
    font-size: 14px;
    text-align: center;
  }
  
  footer .terms {
    font-size: 14px;
    text-align: center;
  }
  
  footer .about {
    margin-top: 5px;
  }
  
  hr.solid {
    border-top: 1px solid #fff;
    margin: 1rem;
  }


footer li {
  color: #7a7a7a;
  font-size: .84rem;
  line-height: 1.7;
}

footer li a{
  color: #7a7a7a;
}
footer li a:hover{
  color: #d73672;
  text-decoration: none;
}

footer i,footer .copy {
  color: #d73672;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #1a1a1a;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-item, .dropdown-item:hover {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: #1a1a1a;
  border: 0;
}

h1, h2, h3 {
    margin-bottom: .5rem;
    line-height: 1.1;
    color: #d73672;
    text-transform: initial;
    letter-spacing: initial;
}

.h1, h1 {
  margin-bottom: 1.563rem;
  color: #1a1a1a;
  font-size: 1.6rem;
}
.h2, h2 {
  color: #d73672;
  font-size: 1.5rem;
}
.h3, h3 {
  font-size: 1.4rem;
  color: #1a1a1a;
}

.blog_post h4, .blog_post h5, .blog_post h6 {
  font-family: 'Open Sans', sans-serif;
  text-transform: initial;
  letter-spacing: initial;
  font-size: 1rem;
  background-color: #444;
  color: white;
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
}

.blog_post h4:hover, .blog_post h5:hover, .blog_post h6:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

.blog_post h4 a, .blog_post h5 a, .blog_post h6 a {
  color: white;
}
.blog_post h4 a:hover, .blog_post h5 a:hover, .blog_post h6 a:hover {
  color: #fff;
  text-decoration: none;
}

.blog_post h4.read_more {
  background-color:inherit;
}

.blog_post h4.read_more a {
  color: #d73672;
  font-style: italic;
}
.blog_post h4.read_more a:hover {
  color: #2fb5d2;
}

.blog_post .blog_header {
  background-color: #fdc5dc;
  border-radius: 5px;
  padding-top: 0.5rem;
}

.blog_post ol,.blog_post ul {
  margin-top: 0;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.blog_post s, .blog_post del {
  text-decoration-color: #d7367230;
  text-decoration-thickness: 20px;
}


.blog_content {
  background-color: #fff;
  margin-top: 0;
  padding-bottom: 2rem;
}

@media (min-width: 768px){
  .blog_content {
    background-color: #f6f6f6;
  }
}

.blog_post {
  max-width: 610px;
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin: auto;
  /*margin-top: 1rem;*/
  /*margin-bottom: 1rem;*/
}

.blog_post .paginator {
}

.blog_post .paginator-current {
  background-color: #d73672;
}

hr.after-post {
  max-width: 500px;
  border-top: 3px solid #fff;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

@media (min-width: 768px){
  .blog_post {
    border-radius: 5px;
  }
}


.blog_post img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.blog_post p {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.blog_post p a {
  color: #5a5a5a;
  text-decoration: none;
  border-bottom: 2px solid #2fb5d2;
  font-weight: 600;
}


.blog_date {
  font-style: italic;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
}

.blog_share {
  text-align: right;
}

.blog_share a {
  color: #d73672;
}

.footer-container {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  overflow: hidden;
  box-shadow: 2px 2px 11px 0 rgba(0,0,0,.3);
}


.divider
{
  max-width: 610px;
	position: relative;
	margin: 30px auto;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}


.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #d73672;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px #f6f6f6,
					0 0 0 4px #f6f6f6;
}

.gel_table {
}

.gel_row {
  display: grid;
  grid-template-columns: 1fr 3em 3em 3em;
  background-color:darkgrey;
  gap: 1px;
  padding: 0 1px 1px 1px;
}

.gel_row > div {
  background-color:cornsilk;
  text-align: center;

}
.gel_thead {
  font-weight: bold;
}
.gel_thead .gel_row > div {
  background-color:chocolate;
  color:white;
}

.gel_thead > div {
  text-align: center;
  background-color:chocolate;
  color:white;
}

.back_link {
  float: right;
  color:white;
}

.back_link a {
  color:white;
  padding: 0.5rem;
}